# Introduction

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

# basics of python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

# fundamental types

## Integers
Integer literals are created by any number without a decimal or complex component.

In [1]:
# integers
a = 32
print("Naseer" + str(a))

Naseer32

## Floats

Float literals can be created by adding a decimal component to a number.

In [2]:
# float
x = 1
type(x)

int

## Boolean

Boolean can be defined by typing True/False without quotes

In [3]:
# boolean
b1 = True
b2 = False

type(b1)

bool

## Strings

String literals can be defined with any of single quotes ('), double quotes (") or triple quotes (''' or """). All give the same result with two important differences.

If you quote with single quotes, you do not have to escape double quotes and vice-versa.
If you quote with triple quotes, your string can span multiple lines.

In [4]:
# string
name1 = 'your name MOhamad Naseer M'
type(name1)
name1

'your name MOhamad Naseer M'

In [5]:
#string formatting
a=1000
print("the value is:",a)

the value is: 1000

In [6]:
first_name="MOHAMAD"
last_name="NASEER"

print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is MOHAMAD and last name is NASEER

## Complex

Complex literals can be created by using the notation x + yj where x is the real component and y is the imaginary component.

In [7]:
#complex numbers: note the use of `j` to specify the imaginary part
j = 1.0 - 2.0j
j

(1-2j)

# Variable

 Variables are containers for storing data values.

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [8]:
a=10
print(a)

10

In [9]:
b=100

In [10]:
print(b)

100

# Data type

 in programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

# Casting
If you want to specify the data type of a variable, this can be done with casting.

In [11]:
a=150.5
a

150.5

In [12]:
print(type(a))

<class 'float'>

In [13]:
x = str(3)    
y = int(50)    
z = float(30)

In [14]:
print(x)

3

In [15]:
print(y)

50

In [16]:
print(z)

30.0

# Get the Type
You can get the data type of a variable with the type() function.

In [17]:
print(type(a))

<class 'float'>

In [18]:
b=5.6
print(b)

5.6

In [19]:
print(type(b))

<class 'float'>

In [20]:
c="naseer"

In [21]:
print(type(c))

<class 'str'>

In [22]:
d=6j

In [23]:
print(type(d))

<class 'complex'>

# Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In [24]:
##Boolean
a=True
b=False

In [25]:
type(a)

bool

In [26]:
a|b

True

In [27]:
print(100<55)

False

In [28]:
print(100>55)

True

In [29]:
print(100==55)

False

# Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [30]:
# example 1
a=500
b=88
if (b>a):
        print("b is a greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [31]:
#example 2
india=input("")
if(india=="win"):
    print("india won the world cup")
else:
    print("india loss the world cup")

win
india won the world cup

In [32]:
#example 3
a=input("enter the number A =")
b=input("enter the number B =")
if (b>a):
        print("b is a greater than a")
else:
    print("b is not greater than a")

enter the number A =20
enter the number B =50
b is a greater than a

In [33]:
#get input for variable mark.if mark>35 print pass else print fail
mark=int(input("enter the mark="))
if(mark>35):
    print("pass")
else:
    print("fail")

enter the mark=50
pass

In [34]:
#get input for number and check whether it is divisible by both 2 and 10 or not.if yes the print the number is divisible by 2 and 10 else print the number is not divisible by 2 and 10
a=int(input("Enter the numer="))
if (a%2==0 & a%10==0):
   print(" the number divisible by both 2 and 10")
else:
   print(" the number not divisible by both 2 and 10")

Enter the numer=30
 the number divisible by both 2 and 10

# Elif
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [35]:
a = 33
b = 50
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [36]:
#print the grade of student(elif)
mark=int(input("enter the mark="))
if mark>=91 and mark<=100:
    print("Your Grade is A+")
elif mark>=81 and mark<91:
    print("Your Grade is A")
elif mark>=71 and mark<81:
    print("Your Grade is B+")
elif mark>=61 and mark<71:
    print("Your Grade is B")
elif mark>=51 and mark<61:
    print("Your Grade is C+")
elif mark>=41 and mark<51:
    print("Your Grade is C")
elif mark>=34 and mark<41:
    print("fail")
else:
    print("Invalid Input!")

enter the mark=34
fail

# for loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). It is used when iterations is unknown

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [37]:
for i in range(1,15,4):
    print(i)

1
5
9
13

In [38]:
for i in range(5):
    print("naseer")

naseer
naseer
naseer
naseer
naseer

In [39]:
#print tables using for loop
for i in range(1,21):
    print(i,"*3=",i*3)

1 *3= 3
2 *3= 6
3 *3= 9
4 *3= 12
5 *3= 15
6 *3= 18
7 *3= 21
8 *3= 24
9 *3= 27
10 *3= 30
11 *3= 33
12 *3= 36
13 *3= 39
14 *3= 42
15 *3= 45
16 *3= 48
17 *3= 51
18 *3= 54
19 *3= 57
20 *3= 60

In [40]:
#get even number between 1 to 20 in list
for a in range(1,20):
    if(a%2==0):
        print(a)

2
4
6
8
10
12
14
16
18

In [41]:
#print count of odd and even number
even=0
odd=0
for i in range(1,100):
    if(i%2==0):
        even=even+1
    else:
        odd=odd+1
print(even)
print(odd)

49
50

In [42]:
#to display 10 number from the user and find their sum & average 
a=[]
print("enter any ten number:")
for i in range(10):
    b=int(input("enter the number"+str(i+1)+"="))
    a.append(b)
    print(a)
sum=0
for i in a:
    sum=sum+i
    print("the sum=",sum)
#The len() function returns the number of items in an list.When the object is a string, the len() function returns the number of characters in the string.
    avg=sum/len(a)
    print("the average=",avg)

enter any ten number:
enter the number1=20
[20]
enter the number2=31
[20, 31]
enter the number3=20
[20, 31, 20]
enter the number4=50
[20, 31, 20, 50]
enter the number5=13
[20, 31, 20, 50, 13]
enter the number6=50
[20, 31, 20, 50, 13, 50]
enter the number7=50
[20, 31, 20, 50, 13, 50, 50]
enter the number8=10
[20, 31, 20, 50, 13, 50, 50, 10]
enter the number9=30
[20, 31, 20, 50, 13, 50, 50, 10, 30]
enter the number10=50
[20, 31, 20, 50, 13, 50, 50, 10, 30, 50]
the sum= 20
the average= 2.0
the sum= 51
the average= 5.1
the sum= 71
the average= 7.1
the sum= 121
the average= 12.1
the sum= 134
the average= 13.4
the sum= 184
the average= 18.4
the sum= 234
the average= 23.4
the sum= 244
the average= 24.4
the sum= 274
the average= 27.4
the sum= 324
the average= 32.4

# nested for loop
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [43]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [44]:
for i in range(1,2):
    print("week:",i)
    for j in range(1,8):
        print("days:",j)

week: 1
days: 1
days: 2
days: 3
days: 4
days: 5
days: 6
days: 7

In [45]:
for i in range(1,10):
    print()
    for j in range(1,i+1):
        print(j,end="")

1
12
123
1234
12345
123456
1234567
12345678
123456789

# while loop
With the while loop we can execute a set of statements as long as a condition is true.It is used when iterations is unknown

In [46]:
#print a number 1 to 10 using while loop
i=1
while (i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [47]:
#print first 10 natural number in reverse order
i=10
while (i>0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [48]:
#find the factorial of the number using while loop
print("Enter the Number: ")
num = int(input())

fact = 1
i=1
while i<=num:
    fact = fact*i
    i = i+1

print("\nFactorial =", fact)

Enter the Number:
25

Factorial = 15511210043330985984000000

In [49]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))


# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 2
The sum is 3

In [52]:
#break
x=1
while(x<7):
    
    if x==4:
        break
    print(x)
    x=x+1

1
2
3

In [53]:
# continue
x=0
while x<7:
    x=x+1
    if x==4:
        continue
    print(x)

1
2
3
5
6
7

# Python Operators

Logical

Equality

Comparision

Arithmetic

## Logical Operators
In python following keywords are used for boolean operations -


not - unary negation

and	- conditional AND

or	- conditional OR

In [56]:
a=True
b=False

In [58]:
a and b

False

In [59]:
a or b

True

In [60]:
not b

True

In [61]:
not a

False

In [64]:
age=int(input("Enter the age:"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age:16
Successful execution

# Equality Operators
Following operations are present in python for equlity check operation-


is - *a is b* returns true if variable/identifiers a and b points to the same object

is not - *a is not b* returns true if variable/identifiers a and b points to the different object

== - *a == b* returns true if variable/identifiers a and b has same value

!= - *a != b* returns true if variable/identifiers a and b has different value

In [65]:
a="mohamad"
b="naseer"

In [66]:
a==b

False

In [71]:
a is not b

True

In [72]:
a is a

True

In [73]:
a != b

True

In [76]:
age=int(input("Enter the age:"))

if age==18:
    print("You are in the teenager age")
else:
    print("you are not in teenager age")

Enter the age:18
You are in the teenager age

In [79]:
a="mohamad"
b="naseer"
print(id(a))
print(id(b))

2489620860720
2489619843312

In [80]:
a is b

False

In [82]:
a1=[1,2,3]
a2=[1,2,3]
print(id(a1))
print(id(a2))

2489620411328
2489620100736

In [83]:
a1 is a2

False

In [85]:
a1 is not a2

True

# comparison operators

less than - <

less than or equal to - <=

greater than - >

greater than or equal to - >=

In [88]:
marks= float(input("Enter the marks:"))

if marks>=35:
    print("Pass")
    if marks>=50 and marks<=70:
        print("First")
elif marks<35:
    print("Fail")

Enter the marks:34
Fail

# Arithmetic Operators 

(+) - addition

(-) - subtraction

(*****) - multiplication

(/) - true division

(//) - integer division

(%) - the modulo operator

In [89]:
50+20

70

In [90]:
52-20

32

In [91]:
48*24

1152

In [92]:
5/2

2.5

In [93]:
50//5

10

In [96]:
48%5

3