# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
list=[1,2,3,4,6,6,3]

In [2]:
print(list)

[1, 2, 3, 4, 6, 6, 3]

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [3]:
list=[1,4,5,7,2,9,6,4]
list[2:6]=[10,11]
print(list)

[1, 4, 10, 11, 6, 4]

In [7]:
#append
list.append(111)
list.append("naseer")

In [8]:
print(list)

[1, 4, 10, 11, 6, 4, 111, 111, 111, 'naseer']

In [9]:
#insert
list.insert(0,888)
print(list)

[888, 1, 4, 10, 11, 6, 4, 111, 111, 111, 'naseer']

In [10]:
#remove 
list.pop(4)
print(list)

[888, 1, 4, 10, 6, 4, 111, 111, 111, 'naseer']

In [11]:
#extend
list1=[1,2,3,5,6,4,3,40]
list2=[10,11,12,13,15]
list1.extend(list2)

In [41]:
print(list1)
print(type(list1))

[1, 2, 3, 5, 6, 4, 3, 40, 10, 11, 12, 13, 15]
<class 'list'>

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.it cannot be modified

It denoted in ()

In [11]:
a=(14,52,68,15,62)

In [12]:
print(a)
print(type(a))

(14, 52, 68, 15, 62)
<class 'tuple'>

In [10]:
#casting can be done in tuple
#we can convert the tuple to list and we can modify
a=(1,5,5,6)
b=list(a)
print(a)

(1, 5, 5, 6)

In [8]:
print(type(b))

<class 'list'>

In [1]:
mytuple=(111,54,664)
mylist=list(mytuple)

In [16]:
print(mylist)

[111]

In [3]:
print(type(mylist))

<class 'list'>

# set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [22]:
#duplicate elements are not allowed
#the order can be changed(unorder)
a={1,5,6,3,6,4,5}
print(a)
print(type(a))

{1, 3, 4, 5, 6}
<class 'set'>

In [19]:
#we can add the element in set
a.add(55)

In [20]:
print(a)

{1, 3, 4, 5, 6, 55}

In [21]:
#We can remove the element
a.pop()
print(a)

{3, 4, 5, 6, 55}

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [27]:
 dict={
     
     "name":"mohamadnaseer",
     "age":22,
     "hight":5.4,
     "list":[1,5,2,3,6,4],
     "tuple":(1,25,5,5,8),
     "set":{1,5,8,6,55,77,5}
     
 }
print(dict)

{'name': 'mohamadnaseer', 'age': 22, 'hight': 5.4, 'list': [1, 5, 2, 3, 6, 4], 'tuple': (1, 25, 5, 5, 8), 'set': {1, 5, 6, 55, 8, 77}}

In [28]:
print(type(dict))

<class 'dict'>

In [33]:
print(dict["set"])

{1, 5, 6, 55, 8, 77}

In [35]:
print(dict.keys())

dict_keys(['name', 'age', 'hight', 'list', 'tuple', 'set'])

In [37]:
print(dict.values())

dict_values(['mohamadnaseer', 22, 5.4, [1, 5, 2, 3, 6, 4], (1, 25, 5, 5, 8), {1, 5, 6, 55, 8, 77}])

In [38]:
#we can modify
#we can age the data
dict["age"]=23

In [39]:
print(dict)

{'name': 'mohamadnaseer', 'age': 23, 'hight': 5.4, 'list': [1, 5, 2, 3, 6, 4], 'tuple': (1, 25, 5, 5, 8), 'set': {1, 5, 6, 55, 8, 77}}

In [40]:
#we can also add the data in dictionary
dict["weight"]=50

In [41]:
print(dict)

{'name': 'mohamadnaseer', 'age': 23, 'hight': 5.4, 'list': [1, 5, 2, 3, 6, 4], 'tuple': (1, 25, 5, 5, 8), 'set': {1, 5, 6, 55, 8, 77}, 'weight': 50}

In [42]:
#update
dict.update({"weight":55})

In [43]:
print(dict)

{'name': 'mohamadnaseer', 'age': 23, 'hight': 5.4, 'list': [1, 5, 2, 3, 6, 4], 'tuple': (1, 25, 5, 5, 8), 'set': {1, 5, 6, 55, 8, 77}, 'weight': 55}

In [44]:
#delete
dict.pop("age")

23

In [45]:
print(dict)

{'name': 'mohamadnaseer', 'hight': 5.4, 'list': [1, 5, 2, 3, 6, 4], 'tuple': (1, 25, 5, 5, 8), 'set': {1, 5, 6, 55, 8, 77}, 'weight': 55}

In [46]:
#clear dictionary
dict.clear()

In [47]:
print(dict)

{}